
src/ReadMaterialData.FOR.bak
/src/VS/.vs
/src/VS/Release
*.bak
src/VS/Anura3D.u2d
src/VS/Debug/A3DBingham.obj
src/VS/Debug/A3DLinearElasticity.obj
src/VS/Debug/A3DMohrCoulombStandard.obj
src/VS/Debug/AdjustParticleDiscretisation.obj
src/VS/Debug/allocationerror__genmod.f90
src/VS/Debug/allocationerror__genmod.mod
src/VS/Debug/Anura3D.obj
src/VS/Debug/Anura3D_2025.exe
src/VS/Debug/Anura3D_2025.exe.intermediate.manifest
src/VS/Debug/Anura3D_2025.pdb
src/VS/Debug/assert__genmod.f90
src/VS/Debug/assert__genmod.mod
src/VS/Debug/assertwarning__genmod.f90
src/VS/Debug/assertwarning__genmod.mod
src/VS/Debug/BuildBJacDet.obj
src/VS/Debug/BuildDElastic.obj
src/VS/Debug/builddelastic__genmod.f90
src/VS/Debug/builddelastic__genmod.mod
src/VS/Debug/builddelasticinverse__genmod.f90
src/VS/Debug/builddelasticinverse__genmod.mod
src/VS/Debug/BuildLoad.obj
src/VS/Debug/BuildLog.htm
src/VS/Debug/calculateprincipalstresses__genmod.f90
src/VS/Debug/calculateprincipalstresses__genmod.mod
src/VS/Debug/Counters.obj
src/VS/Debug/deallocationerror__genmod.f90
src/VS/Debug/deallocationerror__genmod.mod
src/VS/Debug/DynamicMPM.lib
src/VS/Debug/eig_3__genmod.f90
src/VS/Debug/eig_3__genmod.mod
src/VS/Debug/eig_3a__genmod.f90
src/VS/Debug/eig_3a__genmod.mod
src/VS/Debug/ElemCalc.obj
src/VS/Debug/ElemCalcQUAD.obj
src/VS/Debug/ElemCalcTETRA.obj
src/VS/Debug/ElemCalcTRI.obj
src/VS/Debug/ElemConnections.obj
src/VS/Debug/ErrorHandler.obj
src/VS/Debug/ExternalSoilModel.obj
src/VS/Debug/Feedback.obj
src/VS/Debug/FileIO.obj
src/VS/Debug/formb3__genmod.f90
src/VS/Debug/formb3__genmod.mod
src/VS/Debug/GeoMath.obj
src/VS/Debug/get_strain__genmod.f90
src/VS/Debug/get_strain__genmod.mod
src/VS/Debug/getelementdeterminant__genmod.f90
src/VS/Debug/getelementdeterminant__genmod.mod
src/VS/Debug/getfeedbacklevel__genmod.f90
src/VS/Debug/getfeedbacklevel__genmod.mod
src/VS/Debug/getlastchangedauthor__genmod.f90
src/VS/Debug/getlastchangedauthor__genmod.mod
src/VS/Debug/getlastchangeddate__genmod.f90
src/VS/Debug/getlastchangeddate__genmod.mod
src/VS/Debug/getlastcompileddate__genmod.f90
src/VS/Debug/getlastcompileddate__genmod.mod
src/VS/Debug/GetPrinStress.obj
src/VS/Debug/GetStrain.obj
src/VS/Debug/getversion.obj
src/VS/Debug/getversion__genmod.f90
src/VS/Debug/getversion__genmod.mod
src/VS/Debug/gidpost.mod
src/VS/Debug/gidpost.obj
src/VS/Debug/giveerror__genmod.f90
src/VS/Debug/giveerror__genmod.mod
src/VS/Debug/givemessage__genmod.f90
src/VS/Debug/givemessage__genmod.mod
src/VS/Debug/givewarning__genmod.f90
src/VS/Debug/givewarning__genmod.mod
src/VS/Debug/GlobalConstants.obj
src/VS/Debug/InitialiseElementType.obj
src/VS/Debug/InitialiseKernel.obj
src/VS/Debug/initialisetractionload__genmod.f90
src/VS/Debug/initialisetractionload__genmod.mod
src/VS/Debug/initialisetractionloadvector__genmod.f90
src/VS/Debug/initialisetractionloadvector__genmod.mod
src/VS/Debug/ISORT.obj
src/VS/Debug/Kernel.obj
src/VS/Debug/kernel__genmod.f90
src/VS/Debug/kernel__genmod.mod
src/VS/Debug/LagrangianPhase.obj
src/VS/Debug/Liquid.obj
src/VS/Debug/load2d__genmod.f90
src/VS/Debug/load2d__genmod.mod
src/VS/Debug/load3d__genmod.f90
src/VS/Debug/load3d__genmod.mod
src/VS/Debug/matmat__genmod.f90
src/VS/Debug/matmat__genmod.mod
src/VS/Debug/MatrixMath.obj
src/VS/Debug/matvec__genmod.f90
src/VS/Debug/matvec__genmod.mod
src/VS/Debug/MeshInfo.obj
src/VS/Debug/mkl_dss.mod
src/VS/Debug/mkl_dss.obj
src/VS/Debug/mkl_dss_private.mod
src/VS/Debug/modadjustparticlediscretisation.mod
src/VS/Debug/modbingham.mod
src/VS/Debug/modconvectivephase.mod
src/VS/Debug/modcounters.mod
src/VS/Debug/moddynamicexplicit.mod
src/VS/Debug/moddynconvectivephase.mod
src/VS/Debug/moddynviscousboudary.mod
src/VS/Debug/modelementevaluation.mod
src/VS/Debug/modelementevaluationquad.mod
src/VS/Debug/modelementevaluationtetra.mod
src/VS/Debug/modelementevaluationtri.mod
src/VS/Debug/modemptyelements.mod
src/VS/Debug/moderrorhandler.mod
src/VS/Debug/modexternalsoilmodel.mod
src/VS/Debug/modfeedback.mod
src/VS/Debug/modfileio.mod
src/VS/Debug/modgeometrymath.mod
src/VS/Debug/modglobalconstants.mod
src/VS/Debug/modglobaldata.mod
src/VS/Debug/modinitialiseelementtype.mod
src/VS/Debug/modinitialisekernel.mod
src/VS/Debug/modisort.mod
src/VS/Debug/modlagrangianphase.mod
src/VS/Debug/modlinearelasticity.mod
src/VS/Debug/modliquid.mod
src/VS/Debug/modmatrixmath.mod
src/VS/Debug/modmeshadjacencies.mod
src/VS/Debug/modmeshinfo.mod
src/VS/Debug/modmohrcoulomb.mod
src/VS/Debug/modmpmconstruction.mod
src/VS/Debug/modmpmdata.mod
src/VS/Debug/modmpmdyn2phasesp.mod
src/VS/Debug/modmpmdyn3phasesp.mod
src/VS/Debug/modmpmdynbtsigma.mod
src/VS/Debug/modmpmdyncontact.mod
src/VS/Debug/modmpmdynstresses.mod
src/VS/Debug/modmpmexcavation.mod
src/VS/Debug/modmpminit.mod
src/VS/Debug/modmpmmeshadjustment.mod
src/VS/Debug/modmpmstresses.mod
src/VS/Debug/modparticle.mod
src/VS/Debug/modreadcalculationdata.mod
src/VS/Debug/modreadgeometrydata.mod
src/VS/Debug/modreadmaterialdata.mod
src/VS/Debug/modreadmpmdata.mod
src/VS/Debug/modreadoutputparameters.mod
src/VS/Debug/modrigidbody.mod
src/VS/Debug/modrotboundcond.mod
src/VS/Debug/modsolver.mod
src/VS/Debug/modstrainsmoothing.mod
src/VS/Debug/modstring.mod
src/VS/Debug/modtiming.mod
src/VS/Debug/modtwolayerformulation.mod
src/VS/Debug/modwritempmdata.mod
src/VS/Debug/modwritenodaldata.mod
src/VS/Debug/modwriteresultdata.mod
src/VS/Debug/modwritetestdata.mod
src/VS/Debug/modwritevtkascii.mod
src/VS/Debug/modwritevtkbinary.mod
src/VS/Debug/modwritevtkoutput.mod
src/VS/Debug/modwritevtktwolayer.mod
src/VS/Debug/MPMConstruction.obj
src/VS/Debug/MPMConvPhase.obj
src/VS/Debug/MPMData.obj
src/VS/Debug/MPMDYN2PhaseSP.obj
src/VS/Debug/MPMDYN3PhaseSP.obj
src/VS/Debug/MPMDynamicExplicit.obj
src/VS/Debug/MPMDYNBTSig.obj
src/VS/Debug/MPMDynContact.obj
src/VS/Debug/MPMDYNConvPhase.obj
src/VS/Debug/MPMDYNStresses.obj
src/VS/Debug/MPMDynViscousBoundary.obj
src/VS/Debug/MPMEmptyElements.obj
src/VS/Debug/MPMExcavation.obj
src/VS/Debug/MPMInit.obj
src/VS/Debug/MPMMeshAdjustment.obj
src/VS/Debug/MPMStrainSmoothing.obj
src/VS/Debug/MPMStresses.obj
src/VS/Debug/norm__genmod.f90
src/VS/Debug/norm__genmod.mod
src/VS/Debug/Particle.obj
src/VS/Debug/prnsig__genmod.f90
src/VS/Debug/prnsig__genmod.mod
src/VS/Debug/ReadCalculationData.obj
src/VS/Debug/ReadGeometryData.obj
src/VS/Debug/ReadMPMData.obj
src/VS/Debug/ReadOutputData.obj
src/VS/Debug/RigidBody.obj
src/VS/Debug/rjacinv__genmod.f90
src/VS/Debug/rjacinv__genmod.mod
src/VS/Debug/RotBoundCond.obj
src/VS/Debug/rotvec__genmod.f90
src/VS/Debug/rotvec__genmod.mod
src/VS/Debug/setactiveelementmock__genmod.f90
src/VS/Debug/setactiveelementmock__genmod.mod
src/VS/Debug/Solver.obj
src/VS/Debug/String.obj
src/VS/Debug/timing.obj
src/VS/Debug/TwoLayerFormulation.obj
src/VS/Debug/updateparticlehousekeepingmock__genmod.f90
src/VS/Debug/updateparticlehousekeepingmock__genmod.mod
src/VS/Debug/vc170.pdb
src/VS/Debug/WriteMPMData.obj
src/VS/Debug/WriteNodalData.obj
src/VS/Debug/writeoutput_gid.mod
src/VS/Debug/WriteOutPut_GiD.obj
src/VS/Debug/WriteResultData.obj
src/VS/Debug/WriteTestData.obj
src/VS/Debug/WriteVTK2Layer.obj
src/VS/Debug/WriteVTKASCII.obj
src/VS/Debug/WriteVTKBinary.obj
src/VS/Debug/WriteVTKOutput.obj
src/VS/Debug/ReadMaterialData.obj
src/GiD_Problemtype/Anura3D_2025.gid/doc/TutorialManual_2022.pdf
src/GiD_Problemtype/Anura3D_2025.gid/doc/TutorialManual_2023.pdf
