
src/ReadMaterialData.FOR.bak
/src/VS/.vs
/src/VS/Release
*.bak

# File extensions and files to ignore

# General files
*.exe
*.mod
*.user
*.obj
*.lib
*genmod*
*.htm
*.manifest
*.pdb
*.exp
# Anura3D specific